{
  "extends": "<%= depthRel %>tsconfig.base.json",
  "compilerOptions": {
    "forceConsistentCasingInFileNames": true,
    "strict": true,
    "importHelpers": true,
    "noImplicitOverride": true,
    "noImplicitReturns": true,
    "noFallthroughCasesInSwitch": true,
    "noPropertyAccessFromIndexSignature": true,
    "allowJs": true,
    "checkJs": false,
    "baseUrl": ".",
    "outDir": "dist",
    "paths": {
      "@/*": ["src/*"]
    }
  },
  "files": [],
  "include": ["src/**/*.<%= ext %>", "site.config.<%= ext %>"<% if (framework === 'vue') { %>, "src/pages/app.vue"<% } %><% if (framework === 'react') { %>, "src/pages/app.jsx"<% } %>]
}
