{
  "name": "<%= name %>",
  "private": true,
  "version": "0.0.0",
  "sdkVersion": "<%= sdkVersion %>",
  "type": "module",
  "scripts": {},
  "dependencies": {
    "@landing-page-sdk/assets": "*",
    "@landing-page-sdk/utils-browser": "*",
    "@landing-page-sdk/utils-node": "*"
  },
  "nx": {
    "$schema": "<%= depthRel %>node_modules/nx/schemas/project-schema.json",
    "projectType": "application",
    "targets": {
      "dev": {
        "executor": "@landing-page-sdk/core:vite",
        "options": {
          "mode": "dev",
          "cwd": "{projectRoot}"
        }
      },
      "build": {
        "executor": "@landing-page-sdk/core:vite",
        "options": {
          "mode": "build",
          "cwd": "{projectRoot}"
        }
      },
      "preview": {
        "executor": "@landing-page-sdk/core:vite",
        "options": {
          "mode": "preview",
          "cwd": "{projectRoot}"
        }
      }
    }
  }
}
