export function setupCounter(element<% if (useTs) { %>: HTMLElement<% } %>) {
  let counter = 0;
  const setCounter = (count<% if (useTs) { %>: number<% } %>) => {
    counter = count;
    element.innerHTML = `count is ${counter}`;
  };
  element.addEventListener('click', () => setCounter(counter + 1));
  setCounter(0);
}
