<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/__ASSETS__/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= i18n.title %></title>
  </head>
  <body>
    <%- include($cmp('header/header.ejs'), _data) %>
    <div id="app">
      <%- include($cmp('logo-row.ejs'), _data) %>
      <h1><%= i18n.greeting %> <%= i18n.title %>!</h1>
      <div class="card">
        <button id="counter" type="button"></button>
      </div>
      <p class="read-the-docs"><%= i18n.learnMore %></p>
      <% if (!(site === 'bar' && lang === 'en')) { %>
        <p class="about-link">
          <a data-to="/about"><%= i18n.aboutLink %></a>
        </p>
      <% } %>
    </div>
  </body>
</html>
