<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="robots"
      content="noindex"
    />
  </head>
  <body>
    <script>
      !(function () {
        'use strict'
        function n(n, t) {
          return (
            (function (n) {
              if (Array.isArray(n)) return n
            })(n) ||
            (function (n, t) {
              var e = null == n ? null : ('undefined' != typeof Symbol && n[Symbol.iterator]) || n['@@iterator']
              if (null != e) {
                var r,
                  a,
                  o,
                  i,
                  c = [],
                  l = !0,
                  u = !1
                try {
                  if (((o = (e = e.call(n)).next), 0 === t)) {
                    if (Object(e) !== e) return
                    l = !1
                  } else for (; !(l = (r = o.call(e)).done) && (c.push(r.value), c.length !== t); l = !0);
                } catch (n) {
                  ;(u = !0), (a = n)
                } finally {
                  try {
                    if (!l && null != e.return && ((i = e.return()), Object(i) !== i)) return
                  } finally {
                    if (u) throw a
                  }
                }
                return c
              }
            })(n, t) ||
            e(n, t) ||
            (function () {
              throw new TypeError(
                'Invalid attempt to destructure non-iterable instance.\nIn order to be iterable, non-array objects must have a [Symbol.iterator]() method.'
              )
            })()
          )
        }
        function t(n, t) {
          var r = ('undefined' != typeof Symbol && n[Symbol.iterator]) || n['@@iterator']
          if (!r) {
            if (Array.isArray(n) || (r = e(n)) || t) {
              r && (n = r)
              var a = 0,
                o = function () {}
              return {
                s: o,
                n: function () {
                  return a >= n.length ? { done: !0 } : { done: !1, value: n[a++] }
                },
                e: function (n) {
                  throw n
                },
                f: o,
              }
            }
            throw new TypeError(
              'Invalid attempt to iterate non-iterable instance.\nIn order to be iterable, non-array objects must have a [Symbol.iterator]() method.'
            )
          }
          var i,
            c = !0,
            l = !1
          return {
            s: function () {
              r = r.call(n)
            },
            n: function () {
              var n = r.next()
              return (c = n.done), n
            },
            e: function (n) {
              ;(l = !0), (i = n)
            },
            f: function () {
              try {
                c || null == r.return || r.return()
              } finally {
                if (l) throw i
              }
            },
          }
        }
        function e(n, t) {
          if (n) {
            if ('string' == typeof n) return r(n, t)
            var e = {}.toString.call(n).slice(8, -1)
            return (
              'Object' === e && n.constructor && (e = n.constructor.name),
              'Map' === e || 'Set' === e
                ? Array.from(n)
                : 'Arguments' === e || /^(?:Ui|I)nt(?:8|16|32)(?:Clamped)?Array$/.test(e)
                ? r(n, t)
                : void 0
            )
          }
        }
        function r(n, t) {
          ;(null == t || t > n.length) && (t = n.length)
          for (var e = 0, r = Array(t); e < t; e++) r[e] = n[e]
          return r
        }
        function a(n) {
          var e,
            r = ''.concat(encodeURIComponent(n), '='),
            a = document.cookie.split(';').map(function (n) {
              return n.trim()
            }),
            o = t(a)
          try {
            for (o.s(); !(e = o.n()).done; ) {
              var i = e.value
              if (i.startsWith(r)) return decodeURIComponent(i.substring(r.length))
            }
          } catch (n) {
            o.e(n)
          } finally {
            o.f()
          }
          return ''
        }
        function o(t) {
          var e,
            r = t.join('|'),
            a = new RegExp('(?:/('.concat(r, ')/)|(?:_(').concat(r, ')\\.html)'), 'i'),
            o = n(null !== (e = location.pathname.match(a)) && void 0 !== e ? e : [], 3),
            i = o[1],
            c = o[2]
          return i || c || null
        }
        function i() {
          for (
            var n =
                arguments.length > 0 && void 0 !== arguments[0]
                  ? arguments[0]
                  : <%- '[' + langs.map(t => `"${t}"`).join() + ']' %>,
              t = arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : 'en',
              e = 0,
              r = [
                document.documentElement.lang,
                o(n),
                new URLSearchParams(location.search).get('lang'),
                a('lang'),
                navigator.language.slice(0, 2),
              ];
            e < r.length;
            e++
          ) {
            var i = r[e]
            if (i && n.includes(i)) return i
          }
          return n.includes(t) ? t : n[0]
        }
        var c = function (n, t) {
          var e = Symbol(t)
          return Object.defineProperty(n, '__LOADER__', { value: e }), n
        }
        c(function (n) {
          n instanceof HTMLVideoElement &&
            (Array.from(n.getElementsByTagName('source')).forEach(function (n) {
              var t
              n.srcset = null !== (t = n.dataset.srcset) && void 0 !== t ? t : ''
            }),
            n.load())
        }, 'LAZY_VIDEO')
        var l = c(function (t) {
          var e, r, a
          if (t instanceof HTMLImageElement) {
            var o = i(),
              c = n(
                null !== (e = null === (r = t.dataset.src) || void 0 === r ? void 0 : r.split('images/')) &&
                  void 0 !== e
                  ? e
                  : [],
                2
              ),
              l = c[0],
              u = c[1]
            if (l) {
              var f = n(u.split('.'), 2),
                s = f[0],
                d = f[1]
              t.src =
                'logo' === s
                  ? ''.concat(l, 'images/').concat(s, '_').concat(o, '.').concat(d)
                  : null !== (a = t.dataset.src) && void 0 !== a
                  ? a
                  : ''
            }
          }
        }, 'LAZY_IMAGE')
        c(function (n) {
          if (n instanceof HTMLPictureElement) {
            Array.from(n.getElementsByTagName('source')).forEach(function (n) {
              var t
              n.srcset = null !== (t = n.dataset.srcset) && void 0 !== t ? t : ''
            })
            var t = n.querySelector('img')
            t && l(t)
          }
        }, 'LAZY_PICTURE'),
          c(function (n) {
            var t = n.getAttribute('data-bg')
            t && (n.style.backgroundImage = "url('".concat(t, "')"))
          }, 'LAZY_BACKGROUND_IMAGE')
        var u = location.search,
          f = (function () {
            var n =
                arguments.length > 0 && void 0 !== arguments[0]
                  ? arguments[0]
                  : <%- '[' + langs.map(t => `"${t}"`).join() + ']' %>,
              t = arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : 'en',
              e = new URLSearchParams(window.location.search).get('lang'),
              r = a('lang'),
              o = navigator.language.slice(0, 2),
              i = e || r || o
            return n.includes(i) || (i = t), i
          })(<%- '[' + langs.map(t => `"${t}"`).join() + ']' %>, 'en'),
          s = ('./' + f)
            .concat(u)
        window.location = s
      })()
    </script>
  </body>
</html>
