import { ReactNode, useEffect, useState } from 'react';
import { manifestResolver } from '@landing-page-sdk/utils-browser';
import manifest from 'virtual:route-manifest';

interface RouterLinkProps {
  to: string;
  locale?: string;
  children?: ReactNode;
}

export default function RouterLink({ to, locale, children }: RouterLinkProps) {
  const [href, setHref] = useState('/');

  useEffect(() => {
    const { route: fromRoute, site, lang: fromLocale } = __SDK_PAGE_CTX__;

    const resolved = manifestResolver(manifest, {
      site,
      fromLocale,
      fromRoute: fromRoute!,
      toLocale: locale ?? fromLocale,
      toRoute: to,
    });

    setHref(resolved);
  }, [to, locale]);

  return <a href={href}>{children}</a>;
}