<template>
  <a :href>
    <slot />
  </a>
</template>

<script setup<% if (useTs) { %> lang="ts"<% } %>>
import { manifestResolver, getPageContext } from '@landing-page-sdk/utils-browser';
import manifest from 'virtual:route-manifest';
import { ref } from 'vue';

const href = ref('/');
const props = defineProps<% if (useTs) { %><{
  to: string;
  locale?: string;
}><% } %>(<% if (!useTs) { %>['to', 'locale']<% } %>);

const { route: fromRoute, site, lang: fromLocale } = getPageContext();

href.value = manifestResolver(manifest, {
  site,
  fromLocale,
  fromRoute: fromRoute!,
  toLocale: props.locale ?? fromLocale,
  toRoute: props.to,
});
</script>
