<template>
  <a
    href="https://vuejs.org"
    target="_blank"
  >
    <img :src="vueLogo" class="logo vue" alt="Vue logo" />
  </a>
</template>

<script setup<% if (useTs) { %> lang="ts"<% } %>>
import vueLogo from '/__ASSETS__/vue.svg';
</script>
