import { useState } from 'react';

export default function Counter() {
  const [counter, setCounter] = useState(0);

  function increment() {
    setCounter(counter + 1);
  }

  return (
    <div className="card">
      <button type="button" onClick={increment}>
        count is {counter}
      </button>
    </div>
  );
}
