<% if (framework === 'none') { %>
import { setupCounter } from '@/composables/counter';
<% } else if (framework === 'vue') { %>
import { createApp } from 'vue';
import App from './app';
<% } %>
<% if (style.includes('sass')) { %>
import '@/styles/main.scss';
<% } %>
import '@/styles/main.css';

<% if (framework === 'none') { %>
setupCounter(document.querySelector('#counter'));
<% } else if (framework === 'vue') { %>
createApp(App).mount('#app');
<% } %>
